/*  PAGES
    ====================================================== */



/*  COLORS
    ====================================================== */
$pink: #E91E63;
$green: #4CAF50;
$amber: #F57C00;
$blue: #1976D2;

/*  COMPONENTS
    ====================================================== */
// icon-button
$icon-button-height: 47px !default;
$icon-button-padding: 7px !default;
$icon-button-bg-color: #fff !default;
